global
    maxconn 30000

defaults
    mode tcp
    timeout connect 5s
    timeout client 5m
    timeout server 5m

frontend gateway-tcp
    bind :17000
    default_backend gateways-tcp

backend gateways-tcp
    balance leastconn
    option tcp-check
    server gateway-1 gateway-1:17000 check inter 1s fall 3 rise 2 maxconn 12000
    server gateway-2 gateway-2:17000 check inter 1s fall 3 rise 2 maxconn 12000

frontend gateway-websocket
    bind :17002
    default_backend gateways-websocket

backend gateways-websocket
    balance leastconn
    option tcp-check
    server gateway-1 gateway-1:17002 check inter 1s fall 3 rise 2 maxconn 12000
    server gateway-2 gateway-2:17002 check inter 1s fall 3 rise 2 maxconn 12000

listen stats
    mode http
    bind :8404
    stats enable
    stats uri /stats
    stats show-legends
